{% extends 'base.html' %}

{% block title %}À propos{% endblock %}

{% block content %}
<section class="about-section">
    <h1>À propos de moi</h1>
    <p>Je suis un développeur passionné par le web et le machine learning, avec une spécialisation en Python/Django et une forte envie d’apprendre continuellement.</p>
    <p>Mon parcours inclut plusieurs projets personnels et professionnels, notamment dans le domaine du développement web, de la visualisation de données, et des applications interactives.</p>
    <p>En plus de mes compétences techniques, j'ai également une passion pour le cyclisme sur route et la photographie argentique.</p>
    <h2>Mon expérience</h2>
    <p>Mon expérience professionnelle inclut des projets divers, allant du développement d'applications web à la gestion de bases de données, avec une attention particulière sur la qualité du code et l'efficacité des solutions proposées.</p>
    <h2>Mon objectif</h2>
    <p>En tant que freelance, je recherche des projets qui me permettront d'exploiter pleinement mes compétences tout en contribuant au développement de solutions innovantes et performantes.</p>
</section>
{% endblock %}